<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dancing+Script:wght@700&family=Edu+NSW+ACT+Foundation&family=Kay+Pho+Du&family=Libre+Baskerville:ital@1&family=Noto+Sans+JP:wght@300&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/2nd.css">
</head>
<body>
    <img class="rightImg" src="../static/images/pngtree-green-flower-vine-plant-illustration-png-image_4590341-removebg-preview.png" alt="">
    <div class="title mt-4">
        <!-- <img src="giphy.gif" class="leftGif" alt=""> -->
        
        <h1 class="titleText">
            AyurDost
        </h1>
        <img src="../static/images/giphy.gif" class="rightGif" alt="">
    </div>
    <div class="content pt-5 mt-4">
        <div class="mx-4 gridItems left">
            <h2 style="align-self: center; font-size: 1.5rem; font-weight: bolder;" class="titleText mt-3">Home</h2>
            <ul class="mt-4">
                <li>About</li>
                <li>Select</li>
                
            </ul>
        </div>
        <div class="gridItems right">
            <h2 style="align-self: center; font-size: 1.5rem; font-weight: bolder;" class="titleText mt-3">Past Complications(If Known)</h2>
            <div class="select">
                <div style="display: flex; justify-content: space-evenly;">
                    <div style="width: 20vh;"></div>
                    <div style="width: 20vh;"></div>
                    <div style="width: 20vh;"></div>
                    <div>
                        <p class="px-2 formText"> Yes</p>
                        <p class="px-2 formText">No</p>
                    </div>
                    
                    <div style="width: 20vh;"></div>
                </div>
                <div style="display: flex; justify-content: space-between;" class="items">
                    <h2 class="formText mx-4">Diabetes</h2>
                    <div style="width: 20vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="0" value="True">
                        <input type="radio" id="False" name="0" value="False"></form>
                    </div>
                    <div style="width: 13.3vh;">

                    </div>
                    

                </div>
                <div class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">High BP</h2>
                    <div style="width: 19vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="1" value="True" >
                        <input type="radio" id="False" name="1" value="False"></form>
                    </div>
                    <div style="width: 12.1vh;">

                    </div>
                    

                </div>
                <div  class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">Hyperacidity</h2>
                    <div style="width: 18.1vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="2" value="True">
                        <input type="radio" id="False" name="2" value="False"></form>
                    </div>
                    <div style="width: 15vh;"></div>
                    

                </div>
                <div  class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">Kidney Problems</h2>
                    <div style="width: 21.8vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="3" value="True">
                        <input type="radio" id="False" name="3" value="False"></form>

                    </div>
                    <div style="width: 20vh;"></div>
                    
                </div>
                <div  class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">Liver Disorder</h2>
                    <div style="width: 28vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="4" value="True">
                        <input type="radio" id="False" name="4" value="False"></form>
                    </div>
                    <div style="width: 21vh;"></div>
                    

                </div>
                <div  class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">Cardiovascular Problem</h2>
                    <div style="width: 19.4vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="5" value="True">
                        <input type="radio" id="False" name="5" value="False"></form>
                    </div>
                    <div style="width: 24vh;"></div>
                    

                </div>
                <div  class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">Gout</h2>
                    <div style="width: 25.5vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="6" value="True">
                        <input type="radio" id="False" name="6" value="False"></form>
                    </div>
                    <div style="width: 12.6vh;"></div>
                    

                </div>
                <div class="items" style="display: flex; justify-content: space-between;">
                    <h2 class="formText mx-4">Thyroid Disorder</h2>
                    <div style="width: 18.6vh;"></div>
                    <div>
                        <form action="" method="post"><input class="mx-4" type="radio" id="True" name="7" value="True">
                        <input type="radio" id="False" name="7" value="False"></form>
                    </div>
                    <div style="width: 18vh;"></div>
                    

                </div>
                
                
                
                
            </div>
        </div>
        <div>

        </div>
    </div>
    <!-- <button type="button"  class="btn btn-success butL  mt-3">  Previous  </button>
    <button type="button" class="btn btn-success  but mt-3">  Next  </button> -->
    <a href="{{ url_for('home')}}"><button type="button" class="btn btn-success butL mt-3">Previous</button></a>
    <a href="{{ url_for('sympto')}}"><button type="button" class="btn btn-success but mt-3">Next</button></a>
    
</body>
</body>
</html>