<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dancing+Script:wght@700&family=Edu+NSW+ACT+Foundation&family=Kay+Pho+Du&family=Libre+Baskerville:ital@1&family=Noto+Sans+JP:wght@300&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <img class="rightImg" src="../static/images/pngtree-green-flower-vine-plant-illustration-png-image_4590341-removebg-preview.png" alt="">
    <div class="title mt-4">
        <!-- <img src="giphy.gif" class="leftGif" alt=""> -->
        
        <h1 class="titleText">
            AyurDost
        </h1>
        <img src="../static/images/giphy.gif" class="rightGif" alt="">
    </div>
    <div class="content pt-5 mt-4">
        <div class="mx-4 gridItems left">
            <h2 style="align-self: center; font-size: 1.5rem; font-weight: bolder;" class="titleText mt-3">Home</h2>
            <ul class="mt-4">
                <li>About</li>
                
            </ul>
        </div>
        <div class="gridItems right">
            <h2 style="align-self: center; font-size: 1.5rem; font-weight: bolder;" class="titleText mt-3">About</h2></br>
            <img src="../static/images/WhatsApp_Image_2024-02-28_at_06.53.50_762fd8dd-removebg-preview.png" alt="" style="height: 20vh; width: 20vh;">
            <p class="titleText mx-3" style="font-size: 1rem;"><span style="font-weight: bold;">Welcome to AyurDost!</span> We blend ancient Ayurvedic wisdom with modern technology to provide personalized solutions for your health concerns. Our experienced practitioners offer consultations, comprehensive health analysis, herbal remedies, and lifestyle guidance. Trust us to be your companion on the journey to holistic wellness. Start your Ayurvedic journey with AyurDost today!</p>
            <p class="titleText mx-3" style="font-size: 1rem;"><span style="font-weight: bold;">Who Are We?</span></br> 
                We are a team of passionate software developers, committed to promoting wellness and healing through Ayurveda. With years of experience in both traditional Ayurvedic practices and innovative digital solutions, we strive to be your trusted companion on your journey to optimal health.</p>
        </div>
        <div>
            
        </div>
    </div>
    
    <a href="{{ url_for('second')}}"><button type="button" class="btn btn-success  but mt-3">  Next  </button></a>

</body>
</html>